@import url(./import.css);

label {
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  /* Accessible outline */
  /* Remove comment to use */
}
/* input {
  position: absolute;
  left: -9999px;
} */
input:checked + span:before {
  box-shadow: inset 0 0 0 5px #000;
}
label span {
  display: flex;
  align-items: center;
  border-radius: 99em;
  transition: 0.3s ease;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
label span:before {
  display: flex;
  flex-shrink: 0;

  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.5px #d1d1d1;
}

.tooltip {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
  z-index: 999;
}

.tooltip .tooltiptext {
  visibility: hidden;
  transition: 0.3s;
  width: 388px;
  height: 48px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 20px;

  padding: 12px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  background: #020b09;
  border-radius: 16px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 999;
}

/* s */

.nav span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  min-width: 828px;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

/* footer__bottom start  */
.footer__bottom {
  background: rgba(1, 5, 4, 0.6);
  backdrop-filter: blur(8px);
}

.rh {
  border: 1px solid;
  border-radius: 1px;
  width: 100%;
  height: 1px;
  opacity: 0.8;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
