@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #020b09;
}

@font-face {
  font-family: "black";
  src: url("../font/cera-pro-sv/Cera\ Pro\ Black.otf");
}

@font-face {
  font-family: "blackItalic";
  src: url("../font/cera-pro-sv/Cera\ Pro\ Black\ Italic.otf.otf");
}

@font-face {
  font-family: "bold";
  src: url("../font/cera-pro-sv/Cera Pro Bold.otf");
}

@font-face {
  font-family: "medium";
  src: url("../font/cera-pro-sv/Cera Pro Medium.otf");
}

@font-face {
  font-family: "regularItalic";
  src: url("../font/cera-pro-sv/Cera Pro Regular Italic.otf");
}

@font-face {
  font-family: "light";
  src: url("../font/cera-pro-sv/Cera Pro Light.otf.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cera\ Pro\ Medium.otf";
}

::-webkit-scrollbar {
    background-color: #5B6663;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

.container {
  width: 90%;
  max-width: 1192px;
  margin: 0 auto;
}

.text-dark {
  color: var(--dark);
}

.bg-dark {
  background-color: var(--dark);
}

.title {
  font-family: "bold";
  font-size: 36px;
  line-height: 45px;
  color: #fff;
}

@import url(./import.css);
.hero__section {
  background: url(../images/hero-header/bg..png);
}

.bg-dark-footer {
    background: url('../images/hero-header/bg-dark-footer.png')
}


.bar__body ul li, 
.navitem-active {
    cursor: pointer;
    position: relative;
    transition: all .3s;
}
.navitem-active {
    border-bottom: 1px solid #00AC68
}

.bar__body ul li:hover::before,
.navitem-active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(59, 206, 83, 0) 0%, rgba(21, 190, 109, 0) 0.01%, #15BE6D 100%);
    opacity: 0.2;
}
/* swiper pagination start */

.swiper {
  width: 100%;
  height: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.swiper-slide {
  width: 283px !important;
}
.swiper-pagination {
  position: relative !important;
  align-items: center
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top:50% !important;
  transform: translateY(-50%) !important;
  bottom: auto !important;
width: auto !important;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top:50% !important;
  transform: translateY(-50%) !important;
  bottom: auto !important;
  width: auto !important;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.select.active .selectChevron{
  transform: translateY(-50%) rotate(270deg) ;
}
.select.active .select-menu {
  height: 180px;
  padding: 12px;
  border: 1px solid #5b6663;
}

.select-menu {
  height: 0;
  padding: 0;
  border: none;
}



.select-items {
    padding: 12px 0;
    border-bottom: 1px solid #5B6663;
    /* border-top-right-radius: 8px;
    border-top-left-radius: 8px; */
}
.select-items:nth-child(1) {
    padding-top: 0;
}

.select-items:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
/* swiiper pagination  ends  */




/* slider :start  */

.slide-track {
  -webkit-animation: slider 5s linear infinite;
  animation: slider 5s linear infinite;
  min-width: 100%;
  width: 100%;
  flex-shrink: 0;
  animation-direction: reverse;
  animation-play-state: running;
  display: flex;
  width: calc(100px * 14);
}

@-webkit-keyframes slider {
  0% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(calc(-50px * 1));
  }
}

.slide img {
  width: 100px;
  height: 100px;
}
/* slider ends  */

.d__ekish {
  background: url(../images/darahtekish/bg.png);

}

/* s */
.telegram:hover {
  background: rgba(42, 171, 238, 1);
}
.facebook:hover{
    background: rgba(81, 171, 247, 1);
}
.youtube:hover{
    background: #F31918;
}
.nav span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    min-width: 828px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

/* footer__bottom start  */
 .footer__bottom{
  background: rgba(1, 5, 4, 0.6);
backdrop-filter: blur(8px);
} 



.insta div {
  transition: all .3s;
  background: linear-gradient(216.23deg, #8940BF -6.19%, #E5365F 52.62%, #EC6937 76.01%, #F9DB81 116.72%);
}
.telegram div {
transition: all .3s;
background: linear-gradient(180deg, #2AABEE 0%, #229ED9 99.26%);
}
.facebook div {
transition: all .3s;
background: linear-gradient(180deg, #51ABF7 0%, #2862D8 100%);
}
.youtube:hover {
background: #f31918;
}